.container {
    max-width: 840px;
    margin: 0 auto;
}

.intro {
    text-align: center;
}

.about-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.about-section {
    text-align: center;
    text-decoration: none
}

.about-list {
    list-style: none;
    padding: 0;
}

@media (max-width: 480px) {
    .about-grid {
        grid-template-columns: 100%;
    }
}

.heading {
    text-align: center; 
}

.projects-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.project-image {
    justify-self: center;
    padding: 4%;
}
@media (max-width: 650px) {
    .projects-grid {
        grid-template-columns: 100%;
    }
}

.contact {
    display: grid;
    grid-template-columns: 30% 70%;
}

.links {
    justify-self: center;
}

.links-list {
    list-style: none;
    padding: 0;
}

@media (max-width: 650px) {
    .links-and-contact {
        grid-template-columns: 100%;
    }
}